/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


body {
  padding-top: 50px;
  background-color: #202020;
}
.drop-span:hover{
color:black !important;
}

.sub-ho{
color:white;
}

.sub-ho:hover{
color:black !important;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px; /* Scrollable contents if viewport is shorter than content. */
    background-color: #F2F3E1;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color:white;
  font-weight:bold;
}
.activehome > a {
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../images/home-b.png);
  background-position-x: 25px;
}
.activecustomer > a{
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../images/customer-b.png);
  background-position-x: 25px;
}
.activebooking > a {
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../images/booking-b.png);
  background-position-x: 25px;
}
.activevendor > a {
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../images/truck-b.png);
  background-position-x: 25px;
}
.activeaccounts > a {
  color: #000 !important;
  background-color:#F1EB49;
  background-image:url(../images/account-b.png);
  background-position-x: 25px;
}
	

.icon-home{
background:transparent url(../images/home.png) no-repeat left;
background-position-x: 25px;
color: #fff;
}
.icon-home:hover{
background:transparent url(../images/home-b.png) no-repeat left !important;
background-position-x: 25px !important;
color: #000 !important;
background-color:#F1EB49 !important;
}
.icon-booking{
background:transparent url(../images/booking.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-booking:hover{
background:transparent url(../images/booking-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}
.icon-operation{
background:transparent url(../images/operation.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-operation:hover{
background:transparent url(../images/operation-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-document{
background:transparent url(../images/document.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-document:hover{
background:transparent url(../images/document-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-vendor{
background:transparent url(../images/truck.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-vendor:hover{
background:transparent url(../images/truck-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-customer{
background:transparent url(../images/customer.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-customer:hover{
background:transparent url(../images/customer-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-report{
background:transparent url(../images/report.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-report:hover{
background:transparent url(../images/report-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-finance{
background:transparent url(../images/finance.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-finance:hover{
background:transparent url(../images/finance-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-help{
background:transparent url(../images/help.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-help:hover{
background:transparent url(../images/help-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-account{
background:transparent url(../images/account.png) no-repeat left;
background-position-x: 25px;
color:#fff !important;
}
.icon-account:hover{
background:transparent url(../images/account-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-user{
background:transparent url(../images/listofusers.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-user:hover{
background:transparent url(../images/listofusers-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-group{
background:transparent url(../images/groups.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-group:hover{
background:transparent url(../images/groups-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}

.icon-permission{
background:transparent url(../images/permission.png) no-repeat left;
background-position-x: 25px;
color:#fff;
}
.icon-permission:hover{
background:transparent url(../images/permission-b.png) no-repeat left !important;
background-position-x: 25px !important;
color:#000 !important;
background-color:#F1EB49 !important;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* CUSTOM CSS */
.icon-menu{
	color: white;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	top: 4px;
}

.dropside-sub{
position: relative;
display: block;
padding: 10px 15px;
padding-right: 20px;
padding-left: 40px;
color: rgb(100,100,100);
font-weight: bold;
cursor:pointer;
}
.dropside-sub:hover{
text-decoration: none;
background-color: #eee;
}

.dropside{
cursor:pointer;
}

.dropside:hover{
text-decoration: none;
background-color: #eee;
}

.title-insidebox{
color:white;
position:relative;
font-size:20px;
top:2px;
}

.box-dash{
background-color:gray;
width:400px;
height:300px;
padding: 20px 0 6px 0;
border-radius:6px;
}

.icon-font{
position: relative;
top: 2px;
left:40px;
font-size:13px;
}

.box-icon{
margin-right:6px;
}

.header-box{
padding:10px;
}

.content-box{
padding:10px;
}

.main-box{
width:68%;
float:left;
margin-right:16px;
}

.sidebar-box{
width:28%;
float:left;
text-align:center;
}

.submenu-link{
text-decoration:none;
}

.submenu-link:hover{
text-decoration:none;
color: white !important;
}

.title-inside{
color:white;
}

.tb-font-black{
vertical-align: middle !important;
color:#000 !important;
}

.full-box{
border:1px 
background-color:gray;
padding:10px;
border-radius:6px;
float:left;
margin-right:16px;
width:100%;
text-align:center;
}

.circ-icon{
background-color:gray;
padding:6px;
margin-right:6px;
border-radius:50%;
}

.icon-action-link{
text-decoration:none !important;
}

.icon-action:hover{
background-color:rgb(83, 82, 82);
}

.paginate-icon{
margin-right:2px;
width:70px;
border-radius:6px;
}

/*-------------*/
#customer-list.table > thead:nth-child(1)
{
background-color:#f5f5f5;
}

.panel-heading{
overflow:hidden;
}

.panel-footer{
overflow:hidden;
}

.pagination{
margin:0px !important; 
}

.panel-title{
position:relative;
top:4px;
}

.full-table{
width:100%;
}

.drop-span{
padding: 10px 15px; 
display: block;
left: 45px; 
font-weight: bold; 
color: white; 
text-decoration: none !important;
}

.row{
  background-color: #202020;
}

.navbar-inverse{
  background-color: black;
  border-color: #080808;
}

.page-header{
  color: white;
}

.panel-info {
border-color: black;
}

.panel-info>.panel-heading {
color: white;
background-color: black;
border-color: black;
}

.sidebar {
  background-color: #444;
  border-right: black;
}

.panel {
  border-radius: 5px !important;
}

.side-help{
	font-size:12px;
	text-align: left;
	color: #000;
	padding:10px 0 !important;
}

.img-sidehelp{
	margin-bottom: 1px;
	margin-right:6px;
}

ul#css3menu1 ul{
	background-color:#424542;}
ul#css3menu1 ul{
	display:none;position:absolute;left:100%;top:0;padding:0 3px 3px;width: 100%;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;}
ul#css3menu1 li:hover{
	z-index:1;}

ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
	
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-weight:bold;color:#FFF;cursor:pointer;padding:14px 20px;}
ul#css3menu1 ul li{
	float:none;margin:3px 0 0;}
ul#css3menu1 ul a{
	text-align:left;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;color:#FFF;text-decoration:none;}
ul#css3menu1 li:hover,ul#css3menu1 li a.pressed{
	background-color: #F1EB49;
	}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("arrowsub.png");background-position:right center;background-repeat:no-repeat;padding-right:14px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	color:#FFF;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-width:0;}
ul#css3menu1 li.subfirst>a{
	border-width:0;}
